{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/profile.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
<section class="collection">
    <ul class="collection-list">
        {% for itemCollection in itemCollection %}
            <li class="collection-list-item">
                <h3>{{ itemCollection.name }}</h3>
                {% if itemCollection.picture %}
                    <img src="{{ asset('uploads/pictures/' ~ itemCollection.picture) }}" width="300" alt="image collection">
                {% endif %}
                <p>{{ itemCollection.topic }}</p>
                <a href="{{ path('app_edit_collection', {id: itemCollection.id}) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
