{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{{ asset('style/style.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <section class="form-main">
        <p><a href="#"><img src="{{ asset('images/book.png') }}" alt="logo" width="60"/></a></p>
        <h1>Sign up</h1>
        {% if error %}
            <p class="alert alert-danger">{{ error.messageKey|replace({"Invalid credentials." : "Invalid username or password."})|trans(error.messageData, 'security') }}</p>
        {% endif %}
        <form method="post" class="form form-registration">

            {#  logged user
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            #}

            <div class="mb-3">
                <label for="inputUsername">Username or email address</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       autocomplete="username" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <input type="submit" class="btn btn-success form-control" name="sign-in" value="Sign in">

        </form>
        <p>Not registered? <a href="{{ path('app_register') }}">Create an account</a>.</p>
    </section>

{% endblock %}
