{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/auth.css') }}" rel="stylesheet"/>
    <style>
        ul {
            position: relative;
            list-style: none;
            margin: 0;
            padding-left: 25px;
            color: red;
            font-size: 16px;
        }

        ul li:before {
            content: '';
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            background-image: url({{ asset('images/error-icon.svg') }});
            background-size: 25px;
        }
    </style>
{% endblock %}
{% block body %}
<section class="form-main">
    <p><a href="{{ path('app_main') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" width="60"/></a></p>
    <h1>Sign up</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'form form-registration'}}) }}
    <div class="mb-3">
        {{ form_label(registrationForm.username) }}<br>
        {{ form_errors(registrationForm.username, {'attr': {'class': 'errors'}}) }}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.email) }}<br>
        {{ form_errors(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword, 'Password') }}<br>
        {{ form_errors(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_label(registrationForm.agreeTerms) }}
    </div>


    <input type="submit" class="btn btn-success form-control" name="sign-up" value="Sign up">
    {{ form_end(registrationForm) }}
    <p>Already have an account? <a href="{{ path('app_login') }}">Sign in →</a></p>
</section>
    {% endblock %}

