{% extends 'base.html.twig' %}

{% block title %}{{ 'Search'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/search.css') }}">
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}

    <div class="search-field">
        #{{ tag.name }}
    </div>
    <section class="search-result">
        {% if tag.items|length != 0  %}
        <h2>{{ 'Items found'|trans }}:</h2>
        <ul class="item-list">
            {% for item in tag.items %}
                <li class="search-item">
                    <a class="item-link" href="{{ path('app_item', {id : item.id}) }}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
            {% else %}
            <h2>{{ 'Items not found'|trans }}</h2>
        {% endif %}
    </section>
{% endblock %}
