{% extends 'base.html.twig' %}

{% block title %}Create collection{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/collection.css') }}">
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <h1>Create Collection.</h1>
        <section class="form form-main form-collection">
            {{ form_start(createCollectionForm, {'attr': {'class': 'form'}}) }}

            <div class="mb-3">
                {{ form_label(createCollectionForm.name) }}<br>
                {{ form_errors(createCollectionForm.name, {'attr': {'class': 'errors'}}) }}
                {{ form_widget(createCollectionForm.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(createCollectionForm.topic) }}<br>
                {{ form_errors(createCollectionForm.topic) }}
                {{ form_widget(createCollectionForm.topic, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(createCollectionForm.description) }}<br>
                {{ form_errors(createCollectionForm.description) }}
                {{ form_widget(createCollectionForm.description, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(createCollectionForm.picture) }}<br>
                {{ form_errors(createCollectionForm.picture) }}
                {{ form_widget(createCollectionForm.picture, {'attr': {'class': 'form-control'}}) }}
            </div>

            {{ form_widget(createCollectionForm.save, {'attr': {'class': 'btn btn-success form-control'}, 'label': 'Submit'}) }}
            {{ form_widget(createCollectionForm.delete, {'attr': {'class': 'btn btn-danger form-control  visually-hidden disabled'}}) }}

            {{ form_end(createCollectionForm) }}

        </section>
    </main>
{% endblock %}
