{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="d-flex align-items-start ">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Edit collection</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add new item</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                {{ form_start(editCollectionForm, {'attr': {'class': 'form'}}) }}
                <div class="mb-3">
                    {{ form_label(editCollectionForm.name) }}<br>
                    {{ form_errors(editCollectionForm.name, {'attr': {'class': 'errors'}}) }}
                    {{ form_widget(editCollectionForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <input type="submit" class="btn btn-success form-control" name="submit" value="Submit">

                {{ form_end(editCollectionForm) }}
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
    </div>


{% endblock %}
