{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    {{ form_start(editCollectionForm, {'attr': {'class': 'form'}}) }}

    <div class="mb-3">
        {{ form_label(editCollectionForm.name) }}<br>
        {{ form_errors(editCollectionForm.name, {'attr': {'class': 'errors'}}) }}
        {{ form_widget(editCollectionForm.name, {'attr': {'class': 'form-control'}}) }}
    </div>



    <input type="submit" class="btn btn-success form-control" name="submit" value="Submit">

    {{ form_end(editCollectionForm) }}
{% endblock %}
