{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/collection.css') }}">
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <ul class="nav nav-pills nav-justified" style="max-width: 600px; margin: 0 auto;">
            <li class="nav-item">
                <a class="nav-link" aria-current="page"
                   href="{{ path('app_edit_collection', {id: itemCollection.id}) }}">Edit
                    collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Create new item</a>
            </li>
        </ul>
        <h1>Create new item</h1>
        {{ form_start(createItemForm, {'attr': {'class': 'form form-main form-collection'}}) }}
        <div class="mb-3">
            {{ form_label(createItemForm.name) }}<br>
            {{ form_errors(createItemForm.name, {'attr': {'class': 'errors'}}) }}
            {{ form_widget(createItemForm.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(createItemForm.tags) }}<br>
            {{ form_errors(createItemForm.tags, {'attr': {'class': 'errors'}}) }}
            {{ form_widget(createItemForm.tags, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_widget(createItemForm.save, {'attr': {'class': 'btn btn-success form-control'}}) }}
        {{ form_widget(createItemForm.delete, {'attr': {'class': 'btn btn-danger form-control disabled visually-hidden'}}) }}

        {{ form_end(createItemForm) }}
    </main>
{% endblock %}
