{% extends 'base.html.twig' %}

{% block title %}View item{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <h1>Item in collection: {{ item.collection.name }}</h1>
        <section class="item">
            <h2>Item: {{ item.name }}</h2>
            <p>
                Item tags:
                {% for tag in item.tags %}
                    <a href="">#{{ tag.name }}</a>
                {% endfor %}
            </p>
        </section>
        <hr>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h3><i class="pr-3 fa fa-comment"></i>{{ item.comments|length }} Comments</h3>
                    <hr>
                    <div class="row mb-5">
                        <div class="col-sm-12">
                            <div class="comment-container d-inline-block pl-3 align-top">
                                <span class="commenter-name">{{ app.user.username }}</span>
                                <div class="form-group">
                                    <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                                </div>
                                <button type="submit" class="btn btn-info">Comment</button>
                            </div>
                        </div>
                    </div>
                    {% for comment in item.comments %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <span class="commenter-name">{{ comment.authorName }}</span>
                                    <small>about {{ comment.createdAt|ago }}</small>
                                    <br>
                                    <span class="comment"> {{ comment.content }}</span>
                                    <p><a href="#">Reply</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    </main>


{% endblock %}
