{% extends 'base.html.twig' %}

{% block title %}View item{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/items.css') }}">
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <h1>Item in collection: <a class="link" href="{{ path('app_collection', {id: item.collection.id}) }}">{{ item.collection.name }}</a></h1>
        <section class="item">
            <h2>Item name: {{ item.name }}</h2>
            <p>
                {% if item.tags|length != 0 %}
                    Item tags:
                    {% for tag in item.tags %}
                        <a href="{{ path('app_search', {name: tag.name}) }}">#{{ tag.name }}</a>
                    {% endfor %}
                {% else %}
                    Item tags are missing
                {% endif %}
            </p>
        </section>
        <hr>
        <section class="comments">
            <h3>{{ item.comments|length }} Comments</h3>
            <hr>
            {% if app.user %}
                <div class="form-comment">
                    <span class="commenter-name">{{ app.user.username }}</span>
                    {{ form_start(createCommentForm, {'attr': {'class': 'form'}}) }}
                    <div class="mb-3">
                        {{ form_errors(createCommentForm.content, {'attr': {'class': 'errors'}}) }}
                        {{ form_widget(createCommentForm.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-info">Comment</button>
                    {{ form_end(createCommentForm) }}
                </div>
                <ul class="comments-list">
                    {% for comment in comments %}
                        <li class="comments-list-item">
                            <span class="commenter-name">{{ comment.author.getusername() }}</span>
                            <small>about {{ comment.created|ago }}</small>
                            <br>
                            <span class="comment"> {{ comment.content }}</span>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>
                    To view the comments you need to <a href="{{ path('app_login') }}">log in</a> or <a
                            href="{{ path('app_register') }}">register</a>
                </p>
            {% endif %}
        </section>
    </main>


{% endblock %}
