{% extends 'base.html.twig' %}

{% block title %}Create collection!{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    {{ form_start(createCollectionForm, {'attr': {'class': 'form'}}) }}

    <div class="mb-3">
        {{ form_label(createCollectionForm.name) }}<br>
        {{ form_errors(createCollectionForm.name, {'attr': {'class': 'errors'}}) }}
        {{ form_widget(createCollectionForm.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(createCollectionForm.topic) }}<br>
        {{ form_errors(createCollectionForm.topic) }}
        {{ form_widget(createCollectionForm.topic, {'attr': {'class': 'form-control'}}) }}
    </div>

    <input type="submit" class="btn btn-success form-control" name="submit" value="Submit">

    {{ form_end(createCollectionForm) }}
{% endblock %}
